@import '../common';

.navbar {
  height: 6.5rem;
  background-color: $primaryColor;
  padding: 1rem;
  @include displayFlex(flex, center, center);
  margin-bottom: 0 !important;

  .nav-links,
  .logo {
    display: inline-block;
  }

  .logo {
    color: $darkTextColor;
    margin-right: 50%;
  }

  .nav-links span {
    color: $darkTextColor;
    font-size: 2.0rem;
    text-decoration: none;
    padding: 1rem;
  }

  a {
    color: $accentColor;
    text-transform: uppercase;
  }
}
